
#container {
        max-width: 1280px;
        margin: auto;
}

#signatories {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
}

.logo-float {
        float: right;
        margin-left: 10px;
        margin-bottom: 10px;
}

.logo-float img {
        width: 200px;
}

#toplinks {
        float: right;
        margin-top: 1em;
}

h1 {
        display: inline-block;
}

hr {
        margin-top: 10px;
        margin-bottom: 15px;
        border: 1px solid #000;
}

.clear {
        clear: both;
}

.share-buttons img {
        height: 2.2em;
}

#signatories ul {
        list-style: decimal;
        margin: 0;
}

.small-orcid {
        height: 1em;
}

.button-orcid {
        height: 1.25em;
}

html {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 3em;
}

body, .btn {
        font-size: 16px;
}

.btn-primary {
        background-color: #b20f18;
        border-color: #970c13;
}

.btn-primary:hover {
        background-color: #ce1f29;
        border-color: #970c13;
}

a {
        color: #b20f18;
}

a:hover, a:active {
        color: #ce1f29;
}

