{% extends "skeleton.html" %}

{% block content %}
<h2>About this pledge</h2>
<p>This pledge is an initiative of academic researchers tired of providing
volunteer reviewing work to publishing venues that do not serve the public
interest and restrict the access to knowledge. It was created by <a
  href="https://www.cs.ox.ac.uk/people/antonin.delpeuch/">Antonin Delpeuch</a>
with help by <a href="https://a3nm.net/">Antoine Amarilli</a>, as part of the
<a href="https://association.dissem.in/">CAPSH association</a>.</p>

<p>You can contact us by emailing hello<span
  style="display:none;">&lt;REMOVETHIS&gt;</span>@dissem.in.</p>
{% endblock %}
