{% extends "skeleton.html" %}

{% block content %}
<h2>About this pledge</h2>
<p>This pledge is an initiative of researchers tired of providing
volunteer reviewing work to publishing venues that do not serve the public
interest and restrict the access to knowledge. It was created by
<a href="http://antonin.delpeuch.eu/">Antonin Delpeuch</a>,
<a href="https://a3nm.net/">Antoine Amarilli</a>, and the other members of the
<a href="https://association.dissem.in/">CAPSH association</a> (which also hosts
this website).</p>

<p>You can get updates from our projects by following <a href="https://blog.dissem.in/">our blog</a>.</p>

<p>You can contact us by emailing hello<span
  style="display:none;">&lt;REMOVETHIS&gt;</span>@dissem.in.</p>

<p><a href="https://github.com/dissemin/no-free-view-no-review">The source code of this website</a> is available. Contributions are of course welcome.</p>

{% endblock %}
