{% extends "skeleton.html" %}

{% block content %}
<h2>FAQ about the pledge</h2>
<h3>What is an "open access" venue?</h3>
<p>The <a href="https://en.wikipedia.org/wiki/Open_access">open access</a>
publishing model aims at making the output of research publicly available on the
Internet. To qualify as open access, a venue must make its research articles
freely available, without subscription fees, under a permissive license such as <a
  href="https://en.wikipedia.org/wiki/Creative_Commons">Creative Commons</a>,
without requiring the payment of extortionate article processing charges. For a
more detailed definition of open access, see the
 <a
  href="https://en.wikipedia.org/wiki/Berlin_Declaration_on_Open_Access_to_Knowledge_in_the_Sciences_and_Humanities">Berlin
  declaration</a>. You can also watch the <a
  href="https://www.youtube.com/watch?v=L5rVH1KGBCY">introductory video</a> from
PhD comics.</p>

<h3>Why does open access matter?</h3>

<p>The current subscription-only publication model is problematic for several
reasons:</p>

<ul>
  <li>A significant amount of public money is spent to pay subscription fees
    to private actors who generate high profit margins (e.g., Elsevier had a 37%
    operating profit margin in 2018), even though they have no
    involvement in the research they publish. Moreover, there is no
    competition on this market: publishers possess the journals, the
    irreplaceable research that they contain, and the prestige attached to their
  name.</li>
  <li>Some universities cannot afford the high subscription rates and cannot give
    their researchers access to the articles. This is especially problematic in
    developing countries, as it hinders scientific progress and enhances existing socio-economical
    disparaties. </li>
  <li>Non-academics cannot access articles. This includes researchers in
    the private sector, teachers and students outside universities (e.g., high-school),
    hobbyists, policymakers, patients and their families (for medical research),
    etc.</li>
  <li>General members of the public cannot have access to research, which is
    unethical and undemocratic given that this research has been funding by public money (the
    main source of funding for academia in many countries).</li>
  <li>Even for researchers in institutions that can afford subscriptions, it is difficult to access
    articles off-site, e.g., at home. As a result, open-access works tend to receive
    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2956678/">more citations</a>
    than close-access ones.</li>
  <li>The contents of scientific articles cannot easily be indexed by search
    engines, making them invisible outside academia.</li>
</ul>

<h3>If I decline to review for a journal, will it prevent me from publishing
  there?</h3>
<p>Almost all venues that we know about do not carry a formal requirement that
authors to a venue will perform reviews for that same venue. However, some communities
feel an obligation of reciprocity, where by submitting to a venue, you undertake a
moral commitment to help run the venue by performing reviews of your own.</p>

<p>This moral commitment is often <a
  href="https://academia.stackexchange.com/questions/122201/does-the-peer-review-reciprocity-principle-apply-globally-or-per-venue">unclear</a>,
and it is debatable. For many authors, it is difficult to refuse to
submit research at some venues, for various reasons. Research is often the result of collaborations
and junior co-authors may not be able to afford narrowing down their publishing options. However, the choice of where to
review is individual, so it can be a more effective mechanism to help steer a
community towards a healthier publishing model. Ultimately, how you feel about
this is a personal matter that depends on your community and preferences.</p>

<p>Of course, if you are uncomfortable declining review requests from venues where you have
published or intend to continue publishing, you are always free to make
exceptions, in particular by providing reviews in compensation for the reviews that
you have received.</p>

<p>More generally, as with any kind of political stand, you may find that some of
your colleagues disagree with your opinions, and in unhealthy communities they
could try to make your life harder. If you are worried about this, please only take the
pledge if you are at a stage of your career when you can afford it.</p>

<h3>When refusing a review, can I advertise the pledge?</h3>

<p>That would be fantastic! We hope such a public pledge will make it easier
for the editor to understand your position, and to make them think about the issues with subscription-only journals.</p>

<h3>There are no reputable open-access venues in my community, what can I
  do?</h3>
<p>If open-access venues are not common in your community yet, you can still
decline to review for closed-access venues, and help your community in different
ways. For instance, you can help by:</p>
<ul>
  <li>Posting <a href="https://en.wikipedia.org/wiki/Open_peer_review">open
      reviews</a> of recent articles published on open repositories (e.g., using <a
      href="https://prereview.org/">PREreview</a>).</li>
  <li>More generally, summarizing the research produced by your community in open-access
    media, e.g., reviews on arXiv, blog posts, Wikipedia articles, etc. This
    helps your community by making its research more broadly visible, and we
    would argue that it counts as community service if the research that you are
    showcasing isn't your own.</li>
  <li>If you are sufficiently senior, you could start a new open access
    journal in your area, or "flip" an existing journal, i.e., convince the
    editorial board to collectively resign and restart the journal in a open
    access format on a different platform. See <a
      href="https://osc.universityofcalifornia.edu/wp-content/uploads/2019/02/UC-OSC-Guide-to-Transitioning-Journals-to-OA.pdf">this
      guide by the university of California</a> or <a
      href="https://sparcopen.org/our-work/transitioning-your-journal/">this
    guide by SPARC</a>. For platforms where you can host your open access
  journal, check out <a href="https://scipost.org/">SciPost</a>,
     <a href="https://www.episciences.org/">Episciences</a> (general),
     <a href="https://openlibhums.org">Open Library of Humanities</a> (humanities),
     <a href="http://www.elibm.org/">eLibM</a> (mathematics),
     <a href="http://about.eptcs.org/">EPTCS</a> or <a
     href="https://openproceedings.org/">OpenProceedings</a> (computer science).</li>
</ul>

<h3>How will boycotting reviews make a difference?</h3>
<p>It is true that unethical publishers will probably always be able to
find reviewers, especially for the most prestigious journals. Nevertheless, we believe
that good peer review is a vital part of the scientific process. Good peer review provides
valuable and timely feedback to authors and facilitates the publication of good research. Hence,
reducing the pool of reviewers for closed-access venues can make them less
attractive and encourage authors to switch to open-access alternatives. What is
more, by declining to perform reviews for closed-access venues, we free up time
to work on more relevant venues, and diminish our involvement with outdated
models. This also gives us an opportunity to bring up the issue to the editorial
board of the editor requesting a review, and to start a conversation about publication models,
whereas boycotting closed-access journals by avoiding to submit articles to them
is less visible (but of course it is still worth doing).</p>

<h3>Can I take my name off the pledge?</h3>
<p>Simply <a href="{% url 'about' %}">contact us</a> and we will remove it.</p>

{% endblock %}
