{% extends "skeleton.html" %}

{% block content %}
<h2>FAQ about the pledge</h2>
<h3>What is an "open access" venue?</h3>
<p>The <a href="https://en.wikipedia.org/wiki/Open_access">open access</a>
publishing model aims at making the output of research publicly available on the
Internet. To qualify as open access, a venue must make the research articles
that it publishes freely available, without subscription fees, under a
permissive license such as <a
  href="https://en.wikipedia.org/wiki/Creative_Commons">Creative Commons</a>,
without requiring the payment of extortionate article processing charges. For a
more detailed definition of open access, see the
 <a
  href="https://en.wikipedia.org/wiki/Berlin_Declaration_on_Open_Access_to_Knowledge_in_the_Sciences_and_Humanities">Berlin
  declaration</a>. You can also watch the <a
  href="https://phdcomics.com/comics.php?f=1533">introductory video</a> from
PhD comics.</p>

<p>Of course, signers to the pledge are free to exercise their judgment to
choose what they consider to be open access.</p>

<h3>Why does open access matter?</h3>

<p>The current subscription-only publication model is problematic for several
reasons:</p>

<ul>
  <li>A significant amount of public money is spent to pay subscription prices
    to private actors with high profit margins (e.g., Elsevier had a 37%
    operating profit margin in 2018), even though these actors have no
    involvement in the research they publish. What is more, there is no
    competition on this market: publishers possess the journals, the
    irreplaceable research that they contain, and the prestige attached to their
  name.</li>
  <li>Universities who cannot afford the high subscription prices cannot give
    their researchers access to the articles. This is especially problematic in
    developing countries.</li>
  <li>Non-academics cannot access articles. This includes researchers in
    companies, teachers and students outside universities (e.g., high-school),
    hobbyists, policymakers, patients and their families (in medicine),
    etc.</li>
  <li>General members of the public cannot have access to research, which is an
    ethical money when this research was paid for by public money (which is the
    main way to finance academia in many countries).</li>
  <li>Even for researchers in subscribed institutions, it is difficult to access
    articles outside of campus, e.g., at home.</li>
  <li>The contents of scientific articles cannot easily be indexed by search
    engines, making them invisible to anyone outside academia.</li>
  <li>Closed-access works are harder to access, so they receive <a
      href="https://en.wikipedia.org/wiki/Citation_impact#Open_Access_publications">less
      citations</a> than open-access works.</li>
</ul>

<h3>If I decline to review for a journal, will it prevent me from publishing
  there?</h3>
<p>Almost all venues that we know about do not carry a formal requirement that
authors to the venue perform reviews for the venue. However, some communities
feel an obligation of reciprocity, where by submitting to a venue, you take a
moral commitment to help run the venue by performing reviews of your own.</p>

<p>This moral commitment is often <a
  href="https://academia.stackexchange.com/questions/122201/does-the-peer-review-reciprocity-principle-apply-globally-or-per-venue">unclear</a>,
and it is debatable. For many authors, it is a difficult move to refuse to
submit research at some venues, because the research can be a collaboration
with authors not sharing the same principles, or authors who are at an early
stage of their career and need to publish quickly or in specific venues.
However, the choice of where to review is individual, so it can be a more
effective way to help steer a community towards a healthier publishing
model. In the end, how you feel about this is a personal matter that depends on
your community and preferences.</p>

<p>Of course, if you are uncomfortable declining review requests from venues where you have
published or intend to continue publishing, you are always free to make
exceptions, in particular providing reviews in compensation for the reviews that
you received.</p>

<p>Of course, as with any kind of political stand, you may find that some of
your colleagues disagree with your opinions, and in unhealthy communities they
could make your life harder. If you are worried about this, please only take the
pledge if you are at a stage of your career when you can afford it.</p>

<h3>When refusing a review, should I advertise the pledge?</h3>
<p>This is certainly not a requirement. In particular, you can always
decline review requests without stating a reason, if you are not comfortable
campaigning for the pledge.</p>

<p>But of course, you are always free to link to the pledge. This can serve as a
quick way to help your contact understand your position, and could also make
them think about the issue. :)</p>

<h3>There are no reputable open-access venues in my community, what can I
  do?</h3>
<p>If open-access venues are not frequent in your community, you can still
decline to review for closed-access venues, and help your community in different
ways, for instance:</p>
<ul>
  <li>Posting <a href="https://en.wikipedia.org/wiki/Open_peer_review">open
      reviews</a> of recent articles obtained on an open repository (e.g., <a
      href="https://en.wikipedia.org/wiki/ArXiv">arXiv</a>) or another
    repository.</li>
  <li>If you are sufficiently established, you could start a new open access
    journal in your area, or "flipping" an existing journal, i.e., convince the
    editorial board to collectively resign and restart the journal as open
    access on a different platform. See <a
      href="https://osc.universityofcalifornia.edu/wp-content/uploads/2019/02/UC-OSC-Guide-to-Transitioning-Journals-to-OA.pdf">this
      guide by the university of California</a> or <a
      href="https://sparcopen.org/our-work/transitioning-your-journal/">this
    guide by SPARC</a>. For platforms where you can host your open access
  journal, check out <a href="http://www.mathoa.org/">MathOA</a> (mathematics),
  <a href="http://about.eptcs.org/">EPTCS</a> or <a
     href="https://openproceedings.org/">OpenProceedings</a> (computer science).
   <a href="https://openlibhums.org/">Open Library of Humanities</a>, or <a
      href="https://www.episciences.org/">Episciences</a> (general).</li>
</ul>

<h3>How will boycotting reviews make a difference?</h3>
<p>While it is true that some prestigious venues will probably always be able to
find reviewers, we believe that good peer review is a vital part of the
scientific process to provide valuable and timely feedback to authors and
publish good research. Hence, reducing the pool of reviewers for closed-access
venues can encourage authors to switch to open-access alternatives. What is
more, by declining to perform reviews for closed-access venues, we free up time
to work on more relevant venues, and diminish our involvement with outdated
models.</p>

<h3>Can I take my name off the pledge?</h3>
<p>Of course, simply contact us and we will remove it.</p>


{% endblock %}
