{% extends "skeleton.html" %}

{% block content %}
<h2>FAQ about the pledge</h2>
<h3 id="what-oa">What is an "open access" venue?</h3>
<p>The <a href="https://en.wikipedia.org/wiki/Open_access">open access</a>
publishing model aims at making the output of research publicly available on the
Internet. To qualify as open access, a venue must make its research articles
freely available, without subscription fees, under a permissive license such as <a
  href="https://en.wikipedia.org/wiki/Creative_Commons">Creative Commons</a>,
without requiring the payment of extortionate article processing charges. For a
more detailed definition of open access, see the
 <a
  href="https://en.wikipedia.org/wiki/Berlin_Declaration_on_Open_Access_to_Knowledge_in_the_Sciences_and_Humanities">Berlin
  declaration</a>. You can also watch the <a
  href="https://www.youtube.com/watch?v=L5rVH1KGBCY">introductory video</a> from
PhD comics.</p>

<h3 id="why-oa">Why does open access matter?</h3>

<p>The current subscription-only publication model is problematic for several
reasons:</p>

<ul>
  <li>A significant amount of public money is spent to pay subscription fees
    to private actors who generate high profit margins (e.g., Elsevier had a 37%
    operating profit margin in 2018), even though they have no
    involvement in the research they publish. Moreover, there is no
    competition on this market: publishers possess the journals, the
    irreplaceable research that they contain, and the prestige attached to their
  name.</li>
  <li>Some universities cannot afford the high subscription rates and cannot give
    their researchers access to the articles. This is especially problematic in
    developing countries, as it hinders scientific progress and enhances existing socio-economical
    disparities. </li>
  <li>Non-academics cannot access articles. This includes researchers in
    the private sector, teachers and students outside universities (e.g., high-school),
    hobbyists, policymakers, patients and their families (for medical research),
    etc.</li>
  <li>General members of the public cannot have access to research, which is
    unethical and undemocratic given that this research has been funded by public money (the
    main source of funding for academia in many countries).</li>
  <li>Even for researchers in institutions that can afford subscriptions, it is difficult to access
    articles off-site, e.g., at home. As a result, open-access works tend to receive
    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2956678/">more citations</a>
    than close-access ones.</li>
  <li>The contents of scientific articles cannot easily be indexed by search
    engines, making them invisible outside academia.</li>
</ul>

<h3 id="how">Care to remind me about how the peer reviewing process works?</h3>
<p>Sure. In the scientific communities that we are aware of, here is the
workflow:</p>
<ul>
  <li>Scientists work together to do research and write up their result in a
    research article.</li>
  <li>They choose a conference or journal (called a <em>venue</em>) to which
    they submit their work.</li>
  <li>The journal is run by an editor, which is another scientist who isn't
    generally paid by the venue. The editor chooses peer reviewers and sends them the
    paper for review.</li>
  <li>The peer reviewers read the article and submit their comments and
    evaluation of the work to the editor. The peer reviewers are again
    scientists who are not paid by the journal for this work.</li>
  <li>Based on the evaluations, the editor notifies the authors about whether or
    not their work is accepted for publication at the venue.</li>
  <li>If the work is accepted, the authors prepare the final version of their
    work, incorporating the reviewers' feedback, and send it to the editor.</li>
  <li>Now the venue steps in, takes the final version of the work, changes the
    formatting a bit to add the official logo and sometimes make some
    typographic changes.</li>
  <li>The resulting version of the work is now officially "published". If the
    venue is open access, the work can be downloaded for free on the Web. If it
    is not, then the work is only available to readers who are subscribed to the
    venue (often via their university or research institution), or to readers
    who pay.
</ul>
<p>Note that the publisher who owns the venue is essentially only involved in the last two
steps: the authors of the article are not paid, and the reviewers who evaluate
the article are not paid either.</p>

<h3 id="pay-reviewers">What about journals that pay reviewers or editors?</h3>
<p>In some scientific communities, some scientists who serve as editors of
journals or as sufficiently senior reviewers can be paid by publishers. However,
we do not feel that the right model would be for publishers to pay reviewers
more. Indeed, these payments will always be less than the profit margins of
these journals, and they will not address the problem that the journals restrict
access to the published research and own the journal's name and the copyright on
articles. What is more, for researchers whose salary is paid by public funds,
accepting payment from journals for work performed instead of their main job
could be considered a conflict of interest.</p>

<h3 id="authors">Do you also boycott closed-access journals as authors?</h3>

<p>Many of us also avoid submitting articles to closed-access journals.
The reasons why this pledge focuses on reviewing are as follows:
<ul>
  <li>Declining an invitation to review is a great opportunity to raise
the issue with the editorial board of a journal: in comparison, boycotting
a journal as an author is invisible to the editors, as they are not
notified when authors decide to choose an open-access venue instead.</li>
  <li>Research is often the result of collaborations and co-authors need to
agree collectively on the venue. By contrast, the choice of where to review
is individual, so committing to a review boycott is easier.</li>
  <li>Publishing in a reputable journal brings valuable recognition
which is vital to sustain an academic career. Reviews however are
generally kept private and not acknowledged publicly, so the reviewing effort
is rewarded very poorly, and we hope that more researchers are in a position to
  make their own choices for this task.</li>
</ul>
</p>

<h3 id="decline-publish">If I decline to review for a journal, will it prevent me from publishing
  there?</h3>

<p>Almost all venues that we know about do not carry a formal requirement that
authors to a venue will perform reviews for that same venue. However, some communities
feel an obligation of reciprocity, where by submitting to a venue, you undertake a
moral commitment to help run the venue by performing reviews of your own.</p>

<p>This moral commitment is often <a
  href="https://academia.stackexchange.com/questions/122201/does-the-peer-review-reciprocity-principle-apply-globally-or-per-venue">unclear</a>,
and it is debatable. Ultimately, how you feel about
this is a personal matter that depends on your community and preferences.</p>

<p>Of course, if you are uncomfortable declining review requests from venues where you have
published or intend to continue publishing, you are always free to make
exceptions, in particular by providing reviews in compensation for the reviews that
you have received.</p>

<p>More generally, as with any kind of political stand, you may find that some of
your colleagues disagree with your opinions, and in unhealthy communities they
could try to make your life harder. If you are worried about this, please only take the
pledge if you are at a stage of your career when you can afford it.</p>

<h3 id="advertise-pledge">When refusing a review, can I advertise the pledge?</h3>

<p>That would be fantastic! We hope such a public pledge will make it easier
for the editor to understand your position, and to make them think about the issues with subscription-only journals.</p>

<h3 id="no-reputable">There are no reputable open-access venues in my community, what can I
  do?</h3>
<p>If open-access venues are not common in your community yet, you can still
decline to review for closed-access venues, and help your community in different
ways. For instance, you can help by:</p>
<ul>
  <li>Posting <a href="https://en.wikipedia.org/wiki/Open_peer_review">open
      reviews</a> of recent articles published on open repositories (e.g., using <a
      href="https://prereview.org/">PREreview</a> or
      <a href="https://pubpeer.com/">PubPeer</a>).</li>
  <li>More generally, summarizing the research produced by your community in open-access
    media, e.g., reviews on arXiv, blog posts, Wikipedia articles, etc. This
    helps your community by making its research more broadly visible, and we
    would argue that it counts as community service if the research that you are
    showcasing isn't your own.</li>
  <li>If you are sufficiently senior, you could start a new open access
    journal in your area, or "flip" an existing journal, i.e., convince the
    editorial board to collectively resign and restart the journal in a open
    access format on a different platform. See <a
      href="https://osc.universityofcalifornia.edu/wp-content/uploads/2019/02/UC-OSC-Guide-to-Transitioning-Journals-to-OA.pdf">this
      guide by the university of California</a> or <a
      href="https://sparcopen.org/our-work/transitioning-your-journal/">this
    guide by SPARC</a>. For platforms where you can host your open access
  journal, check out <a href="https://scipost.org/">SciPost</a>,
     <a href="https://www.episciences.org/">Episciences</a> (general),
     <a href="https://openlibhums.org">Open Library of Humanities</a> (humanities),
     <a href="http://www.elibm.org/">eLibM</a> (mathematics),
     <a href="http://about.eptcs.org/">EPTCS</a> or <a
     href="https://openproceedings.org/">OpenProceedings</a> (computer science).</li>
</ul>

<h3 id="how-difference">How will boycotting reviews make a difference?</h3>
<p>It is true that unethical publishers will probably always be able to
find reviewers, especially for the most prestigious journals. Nevertheless, we believe
that good peer review is a vital part of the scientific process. Good peer review provides
valuable and timely feedback to authors and facilitates the publication of good research. Hence,
reducing the pool of reviewers for closed-access venues can make them less
attractive and encourage authors to switch to open-access alternatives. What is
more, by declining to perform reviews for closed-access venues, we free up time
to work on more relevant venues, and diminish our involvement with outdated
models. This also gives us an opportunity to bring up the issue to the editorial
board of the editor requesting a review, and to start a conversation about publication models,
whereas boycotting closed-access journals by avoiding to submit articles to them
is less visible (but of course it is still worth doing).</p>

<h3 id="remove">Can I take my name off the pledge?</h3>
<p>Simply <a href="{% url 'about' %}">contact us</a> and we will remove it.</p>

{% endblock %}
