{% extends "skeleton.html" %}

{% load static %}

{% block content %}

<div class="logo-float">
     No Free View?<br />
     <img src="{% static "img/no-free-view-no-review.svg" %}" alt="No free view? No review!" /><br />
     No Review!
</div>

<p>Many scientific articles are currently published in subscription
journals and locked behind paywalls. This model impedes research and diverts
public funding to parasitic publishers, while relying almost entirely on the
unpaid work of researchers. We believe that science should evolve
towards a different publishing model in which all scientific publications are
freely available to readers as open access, without charging authors unfair
prices.</p>

<p><strong>For this reason, we pledge to give priority to open-access venues in
  how we allocate our reviewing time and organizational efforts such as program
  committee and board membership.
  We will avoid serving as peer reviewers for venues which will not make publicly available the research that we have
  reviewed.</strong></p>

<p>Read the <a href="{% url 'faq' %}">FAQ</a> for more about open access and this pledge.</p>

{% if not pledge_signed %}
<h2>Take the pledge</h2>

{% if request.user.is_authenticated %}
<p><a class="btn btn-primary" href="/sign">Sign the pledge&nbsp;<img src="{% static "img/orcid.png" %}" class="button-orcid" alt="ORCID" /></a></p>
{% else %}
<p><a class="btn btn-primary" href="/accounts/orcid/login?next=/sign">With ORCID&nbsp;<img src="{% static "img/orcid.png" %}" class="button-orcid" alt="ORCID" /></a> or <a class="btn btn-default" href="/sign">Manually</a></p>
{% endif %}

{% endif %}

<h2>Signatories <span class="badge">{{ signatories|length }}</span></h2>

<p>If your name was added to this list without your knowledge and intention,
please <a href="{% url 'about' %}">contact us</a> and we will remove it.</p>

<div id="signatories">
<ul>
{% for signatory in signatories %}
    <li>
       {% if signatory.homepage %}
          <a href="{{ signatory.homepage }}" target="_blank">{{ signatory.name }}</a>
       {% else %}
          {{ signatory.name }}
       {% endif %}
       {% if signatory.orcid %}
          <a href="{{ signatory.orcid_url }}" target="_blank"><img src="{% static "img/orcid.png" %}" class="small-orcid" alt="ORCID" /></a>
       {% endif %}
       {% if signatory.affiliation %}
          ({{ signatory.affiliation }})
       {% endif %}
    </li>
{% endfor %}
</ul>
</div>

{% endblock %}
