{% extends "skeleton.html" %}

{% load static %}

{% block content %}

<p>The knowledge developed by academic research is the common heritage of
mankind. Sadly, this heritage is only available to a chosen few, as it is
published in subscription-only journals and locked away behind paywalls.
Scientific publishers benefit from this model by charging expensive subscription
fees to universities and libraries, even though this money does not contribute
to the research itself. It is now obvious that this outdated and unethical model
should be changed, with research articles made available for free on the
Internet for everyone. The modest cost of online publications, which are far
less than the current subscription costs, should not be covered by readers, but
by universities, research agencies, and other actors.</p>

<p>The current model is made possible by the volunteer work of researchers, in
two ways: publishing their research in closed-access venues, and serving
as unpaid peer reviewers to evaluate the submitted research. We understand that
publication practices are slow to change, because the prestige attached to
existing journals is an important part of how researchers is evaluated, and
because publication is often a collaborative effort involving students and other
untenured researchers. However, the choice to review is an individual one, often
performed by more senior researchers. Thus, we hope that by allocating our
reviewing time in priority to open-access venues, we can contribute to their
quality and shift the publication model away from closed-access venues.</p>

<p><strong>For this reason, we pledge to give priority to open-access venues in
  how we allocate our reviewing time, program committee or board membership, and
  organizational efforts. We pledge that we will avoid serving as reviewers for
  venues which will not make publicly available the research that we have
  reviewed.</strong> We reserve the right to make exceptions to this policy when
warranted by the scientific interest, or if we wish to reciprocate by giving a
fair number of reviews to venues where we have published</p>

{% if not pledge_signed %}
<h2>Take the pledge</h2>

{% if request.user.is_authenticated %}
<p><a class="btn btn-primary" href="/sign"><img src="{% static "img/orcid.png" %}" class="button-orcid" alt="ORCID" />&nbsp;Sign the pledge</a></p>
{% else %}
<p><a class="btn btn-primary" href="/accounts/orcid/login?next=/sign"><img src="{% static "img/orcid.png" %}" class="button-orcid" alt="ORCID" />&nbsp;With ORCID</a> or <a class="btn btn-default" href="/sign">Manually</a></p>
{% endif %}

{% else %}
<h2>Thank you for taking the pledge!</h2>

<p>Share it with your colleagues and collaborators:</p>
<div class="share-buttons">
        <a href="{{ social_links.twitter }}"><img src="{% static "img/twitter.png" %}" alt="Share on Twitter" /></a>
        <a href="{{ social_links.reddit }}"><img src="{% static "img/reddit.png" %}" alt="Share on Reddit" /></a>
        <a href="{{ social_links.facebook }}"><img src="{% static "img/facebook.png" %}" alt="Share on Facebook" /></a>
        <a href="{{ social_links.email }}"><img src="{% static "img/email.png" %}" alt="Share by email" /></a>
</div>
<p>Please also consider adding a mention or link to the pledge on your
website.</p>
{% endif %}

<h2>Signatories <span class="badge">{{ signatories|length }}</span></h2>

<p>If your name was added to this list without your knowledge and intention,
please <a href="/about">contact us</a> and we will remove it.</p>

<div id="signatories">
<ul>
{% for signatory in signatories %}
    <li>
       {% if signatory.homepage %}
          <a href="{{ signatory.homepage }}" target="_blank">{{ signatory.name }}</a>
       {% else %}
          {{ signatory.name }}
       {% endif %}
       {% if signatory.orcid %}
          <a href="{{ signatory.orcid_url }}" target="_blank"><img src="{% static "img/orcid.png" %}" class="small-orcid" alt="ORCID" /></a>
       {% endif %}
       {% if signatory.affiliation %}
          ({{ signatory.affiliation }})
       {% endif %}
    </li>
{% endfor %}
</ul>
</div>

{% endblock %}
