{% load static %}
<!doctype html>
<html>
        <head>
                <meta charset="utf-8" />
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>{{ pledge_title }}</title>
                <link rel="stylesheet" href="{% static "style/bootstrap.min.css" %}" type="text/css" />
                <link rel="stylesheet" href="{% static "style/style.css" %}" type="text/css" />
                <meta name="description" content="We do not review for closed-access publications." />
                <meta name="twitter:card" content="summary" />
                <meta property="og:type" content="website" />
                <meta property="og:title" content="{{ pledge_title }}" />
                <meta property="og:url" content="{{ request.get_full_path }}" />

                <!-- TODO: add logo -->
                <meta property="og:image" content="{% static "img/our_logo.png" %}" />
        </head>
        <body>
                <div id="container">
                <h1><a href="{% url 'index' %}">{{ pledge_title }}</a></h1>
                <div id="toplinks">
                <ul class="nav nav-pills">
                     <li role="presentation"><a href="{% url 'about' %}">About</a></li>
                     {% if request.user.is_authenticated %}
                     <li role="presentation"><a href="/accounts/logout">Log out</a></li>
                     {% endif %}
                </ul>
                </div>
                <div class="clear"></div>
                <hr/>
                {% block content %}
                {% endblock %}
                </div>
        </body>
</html>
